.btn {
  cursor: pointer;
  background-color: transparent;

  border: 2px solid blueviolet;
  border-radius: 4px;
  color: aliceblue;
  margin-bottom: 20px;
  font-size: 14px;
  width: 80px;
  padding: 6px;
  margin-left: auto;
}
.btn:hover {
  background-color: rgb(36, 5, 64);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
